[package]
name = "rust_lib_kataglyphis_inference_engine"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
flutter_rust_bridge = "=2.11.1"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
tokio = { version = "~1.43", features = ["rt", "time"] }