name: Build + test + run on Windows with (clang-cl)

on: [ push, pull_request ]

env:
  BUILD_DIR_RELEASE: build/windows/x64/runner

defaults:
  run:
    shell: pwsh

jobs:
  build-clang:
    runs-on: windows-2025
    permissions:
      contents: read
      security-events: write

    steps:

      # windows is so funny ... NOT
      - name: Enable Git long paths
        run: git config --global core.longpaths true
        shell: pwsh

      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
            fetch-depth: 1
            submodules: recursive

      # my windows container is quite big ... so remove runner packages for enough
      # dis space
      - name: Cleanup disk space
        uses: ./.github/actions/cleanup-disk-space

      - name: Login to GitHub
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: Kataglyphis
          password: ${{ secrets.GHCR_PAT }}

      - name: Pull image
        run: |
          docker pull ghcr.io/kataglyphis/kataglyphis_beschleuniger:winamd64 
      
      # -CodeQL turns on analysis
      # for now disabled due to long runtimes
      - name: Run container
        run: |
          docker run --rm `
            --mount "type=bind,source=${{ github.workspace }},target=C:\workspace" `
            -w "C:\workspace" `
            ghcr.io/kataglyphis/kataglyphis_beschleuniger:winamd64 `
            powershell -NoProfile -ExecutionPolicy Bypass -File "C:\workspace\scripts\windows\Build-Windows.ps1" 

      # see also the install commands in the bottom of the CMakeLists.txt
      - name: Upload files & Zip
        uses: actions/upload-artifact@v6.0.0
        with:
          name: windows-files
          path: |
            ${{ env.BUILD_DIR_RELEASE }}/**/*.exe
            ${{ env.BUILD_DIR_RELEASE }}/**/*.dll
            ${{ env.BUILD_DIR_RELEASE }}/data/**/*

      - uses: github/codeql-action/upload-sarif@v4 # Recommended upgrade
        if: hashFiles('codeql-results/*.sarif') != ''
        with:
          sarif_file: codeql-results # Points to the folder containing cpp.sarif and rust.sarif
          category: windows-clang-rust