# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build + test + run android app

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main", "develop"]

jobs:
  build:
    strategy:
      matrix:
        include:
          - runs_on: ubuntu-24.04
            arch: x64
            build_mode: release
            platform: linux/amd64
            app_name: kataglyphis-inference-engine-apk
            flutter_version: 3.41.1
            flutter_dir: /workspace/flutter
            container_image: ghcr.io/kataglyphis/kataglyphis_beschleuniger:latest

    runs-on: ${{ matrix.runs_on }}
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Free Disk Space on Host
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true

      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Pull image
        run: |
          docker pull --platform "${{ matrix.platform }}" "${{ matrix.container_image }}"

      - name: Run container
        run: |
          docker run --rm \
            --platform "${{ matrix.platform }}" \
            --volume "${GITHUB_WORKSPACE}:/workspace" \
            --workdir /workspace \
            "${{ matrix.container_image }}" \
            bash /workspace/scripts/linux/ci/ci-container-run-android.sh \
              --arch "${{ matrix.arch }}" \
              --build-mode "${{ matrix.build_mode }}" \
              --flutter-version "${{ matrix.flutter_version }}" \
              --flutter-dir "${{ matrix.flutter_dir }}" \
              --app-name "${{ matrix.app_name }}" \
              --run-codeql "${{ matrix.arch == 'x64' }}"

      - name: Upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ matrix.app_name }}-linux-${{ matrix.arch }}-tar
          path: out/${{ matrix.app_name }}-linux-${{ matrix.arch }}.tar.gz

      # Upload SARIF to GitHub Code Scanning
      - name: Upload CodeQL results SARIF
        if: ${{ matrix.arch == 'x64' && hashFiles('codeql-results/*.sarif') != '' }}
        continue-on-error: true
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: codeql-results
